@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter Regular"), local("Inter-Regular"),
    url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local("Inter Bold"), local("Inter-Bold"),
    url("../fonts/Inter/static/Inter-Bold.ttf") format("truetype");
  font-display: swap;
}
