:root {
  --inter-font: "Inter", sans-serif;
  font-family: var(--inter-font);
  text-rendering: optimizeLegibility;
}

@supports (font-variation-settings: normal) {
  :root {
    --inter-font: "InterVariable", sans-serif;
    font-optical-sizing: auto;
  }
}
